{% extends "core/base.html" %}
{% block title %}Poets - Ganjoor{% endblock %}
{% block content %}
    <h1>Poets</h1>
    <div class="row">
        {% for poet in poets %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ poet.name }}</h5>
                        <p class="card-text">{{ poet.description|truncatewords:30 }}</p>
                        <a href="{% url 'core:poet_detail' poet.pk %}" class="btn btn-primary btn-sm">View Poet</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12"><p>No poets found.</p></div>
        {% endfor %}
    </div>
{% endblock %}