{% extends "core/base.html" %}
{% block title %}{{ poem.title }} - Ganjoor{% endblock %}
{% block content %}
    <h1>{{ poem.title }}</h1>
    {% if request.user.is_authenticated %}
        <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-outline-success btn-sm mb-2">Add to Favorites</button>
        </form>
    {% endif %}
    <h3>Verses</h3>
    <ol>
        {% for verse in verses %}
            <li>
                <span style="font-size:1.2em">{{ verse.text }}</span>
            </li>
        {% empty %}
            <li>No verses found.</li>
        {% endfor %}
    </ol>
{% endblock %}