{% extends "core/base.html" %}
{% block title %}{{ poem.title }} - Ganjoor{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'core:poet_detail' poem.category.poet.pk %}">{{ poem.category.poet.name }}</a></li>
            {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{% url 'core:category_detail' crumb.pk %}">{{ crumb.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ poem.title }}</li>
        </ol>
    </nav>
    <h1>{{ poem.title }}</h1>
    <h3>Verses</h3>
    <ol>
        {% for verse in verses %}
            <li><span style="font-size:1.2em">{{ verse.text }}</span></li>
        {% empty %}
            <li>No verses found.</li>
        {% endfor %}
    </ol>
{% endblock %}